.heading {
  font-size: 28px;
}

.description {
  padding: 48px 32px;
  margin-bottom: 24px;
}

.families {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 24px;
  padding: 48px 32px;
  background-color: var(--neutral-100)
}

@media (max-width: 1240px) {
  .families {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 767px) {
  .families {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 540px) {
  .families {
    grid-template-columns: 1fr;
    grid-row-gap: 24px;
    grid-column-gap: 24px;
  }
}
