:root {
  --spark-text: #3f3f3f;
  --spark-primary-main: #62aea1;
  --spark-primary-dark: #358375;
  --spark-yellow: #f2b035;
  --spark-red: #f24444;
  --spark-white: #ffffff;
  --spark-gray-light: #3f3f3f;
  --spark-gray-dark: #3f3f3f;
  --neutral-50: #fafafa;
  --neutral-100: #f5f5f5;
  --neutral-200: #e5e5e5;
  --neutral-300: #d4d4d4;
  --neutral-400: #a3a3a3;
  --neutral-500: #737373;
  --neutral-600: #525252;
  --neutral-700: #404040;
  --neutral-800: #262626;
  --neutral-900: #171717;
  --neutral-950: #0a0a0a;
}

html {
  font-size: 16px;
  font-family: var(--font-libre);
  color: var(--spark-text);
}

h1 {
  font-family: var(--font-bebas);
}

h2 {
  font-family: var(--font-bebas);
  font-size: 32px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
