.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  text-align: center;
  line-height: 1.5;
  padding-bottom: 64px;
  width: 100%;
}

.heading {
  padding: 56px 64px 32px 64px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 840px;
}

.heading > p {
  font-size: 18px;
  line-height: 1.65;
}

.subheading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
}

.subheading > .sub {
  font-size: 24px;
}

.sliders {
  width: 100%;
  background: rgb(138, 183, 200);
  background: linear-gradient(
    27deg,
    rgba(138, 183, 200, 1) 0%,
    rgba(172, 219, 221, 1) 52%,
    rgba(177, 228, 216, 1) 100%
  );

  padding: 64px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.sliderSection {
  max-width: 950px;
}

.logo {
  width: 180px;
}

.button {
  max-width: 600px;
  --height: 64px;
  font-family: var(--font-bebas);
  background-color: #d47502;
  color: var(--white);
  font-size: 30px;
  letter-spacing: 1px;
  width: 100%;
  margin: 24px 0;
  cursor: pointer;
  height: var(--height);
  border-radius: 8px;
  border: none;
  box-shadow: 0 16px 20px #ddd;
  transition: all 75ms ease-in;
}

.button:hover {
  background-color: var(--secondary-600);
}

.button:active {
  background-color: var(--secondary-700);
}
