.section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;
  line-height: 1.5;
  padding-bottom: 120px;
}

.heading {
  padding: 56px 64px 32px 64px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 840px;
}

.heading > p {
  font-size: 18px;
  line-height: 1.65;
}

.subheading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
}

.subheading > .sub {
  font-size: 24px;
}

.sliders {
  width: 100%;
  background-color: var(--neutral-100);
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.button {
  --height: 64px;
  font-family: var(--font-bebas);
  background-color: var(--primary-400);
  color: var(--white);
  font-size: 32px;
  letter-spacing: .93px;
  width: 100%;
  margin: 24px 0;
  cursor: pointer;
  height: var(--height);
  border-radius: 8px;
  border: none;
  box-shadow: 0 16px 20px #ddd;
  transition: all 75ms ease-in;
}

.button:hover {
  background-color: var(--primary-500);
}

.button:active {
  background-color: var(--primary-600);
}

.devTools {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(44, 91, 128, 0.697);
  min-width: 175px;
  min-height: 175px;
  padding: 16px;
}

.devTools > ol {
  list-style-position: inside;
}
