.header {
  position: relative;
  background-color: greenyellow;
  background: linear-gradient(
      0deg,
      rgba(17, 106, 116, 0.565),
      rgba(78, 200, 219, 0.57)
    ),
    var(--background-url);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  color: var(--white);
  padding: 24px;
}

.logoAnchor {
  position: absolute;
  top: 16px;
  left: 24px;
  cursor: pointer;
  z-index: 10;
}

.logo {
  width: 120px;
  /* will-change: filter; */
  filter: brightness(200%) grayscale(100%);
  transition: all 200ms ease-in-out;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.logoAnchor:hover .logo {
  opacity: 0.8;
  transition: all 200ms ease-in-out;
}

.bar {
  background-color: var(--secondary-400);
  height: 10px;
}

.heroText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-chlakh);
  line-height: 0.65;
  transform: scale(0.75);
}

.heroTextTop {
  font-size: 94px;
}

.heroTextBottom {
  font-size: 114px;
}

@media (max-width: 767px) {
  .headerFull {
    padding-top: 120px;
  }
}

@media (max-width: 540px) {
  .heroTextTop {
    font-size: 21vw;
  }
  
  .heroTextBottom {
    font-size: 25vw;
  }
}
