.link {
  text-decoration: none;
  color: var(--neutral-800);
}

.card {
  position: relative;
  --border-width: 1px;
  border-radius: 8px;
  background-color: var(--white);
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 16px 20px #00000021;
  transition: all 175ms ease-in-out;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 10px 10px 20px 0 #00000025, -10px 0 20px 0 #00000025;
  transition: all 175ms ease-in-out;
}

.statusBar {
  font-family: var(--font-bebas);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  color: var(--white);
  padding-top: 3px;
  font-size: 24px;
  overflow: hidden;
  border-radius: calc(8px - var(--border-width)) calc(8px - var(--border-width))
    0 0;
}

.heading {
  padding: 10px 16px;
  text-align: center;
}

.prefix {
  font-size: 14px;
}

.familyName {
  font-family: var(--font-inter);
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  font-size: 20px;
}

.frame {
  aspect-ratio: 5 / 3;
  width: 100%;
  min-height: 100%;
  background-color: lightgray;
}

.photo {
  aspect-ratio: 5 / 3;
  object-fit: cover;
  object-position: center;
  min-height: 100%;
  user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
}

.body {
  padding: 24px 0px;
}

.body > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
  gap: 4px;
  padding-right: 40px;
  list-style-type: none;
}

.label {
  font-weight: 600;
}
