.link {
  text-decoration: none;
  color: black;
}

.card {
  position: relative;
  --border-width: 1px;
  border-radius: 8px;
  background-color: var(--white);
  border: var(--border-width) solid var(--neutral-300);
  overflow: hidden;
  cursor: pointer;
  transition: all 200ms ease;
}

.card:hover {
  transform: scale(1.015);
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.04),
    -10px 0 20px 0 rgba(0, 0, 0, 0.04);
  transition: all 200ms ease;
}

.statusBar {
  font-family: var(--font-bebas);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  color: var(--white);
  padding-top: 3px;
  font-size: 24px;
  overflow: hidden;
  border-radius: calc(8px - var(--border-width)) calc(8px - var(--border-width))
    0 0;
  background-color: var(--status-color);
}

.green {
  background-color: var(--green-600);
}

.orange {
  background-color: var(--orange-600);
}

.yellow {
  background-color: var(--secondary-500);
}

.blue {
  background-color: var(--blue-500);
}

.heading {
  padding: 10px 16px;
  text-align: center;
}

.prefix {
  font-size: 14px;
}

.familyName {
  font-family: var(--font-inter);
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  font-size: 20px;
}

.frame {
  width: 100%;
  background-color: pink;
}

.photo {
  min-height: 100%;
}

.body {
  padding: 16px 0px 24px 0px;
}

.body > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
  gap: 8px;
  padding-right: 40px;
  list-style-type: none;
}

.label {
  font-weight: 600;
}
