.numInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.numberInputValue {
  font-size: 18px;
  min-width: 64px;
  padding: 6px;
  font-weight: 600;
}

.cosponsorRow {
  display: grid;
  grid-template-columns: 24px repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 16px;
}

.sponsorNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-bebas);
  font-size: 21px;
}

.paymentButtonRow {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr 2fr;
}